<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Page2</title>
	</head>
	<body>
  		<center><h1>Amazon Instant Video</h1>
        <h2>How do you figure out what a user will enjoy and review positively?</h2>
        
		<br><br><br>

		<img src="http://vignette2.wikia.nocookie.net/logopedia/images/2/2a/Amazon-Instant-Video.png/revision/latest?cb=20140718164330" width="40%" height="40%">
		
		
		<br><br><br>
		
		<form id='Page0_Form' method='post' action='Page_1'>
			<input type='submit' value='Begin!' />
		</form>
        </center>
		
	</body>
</html>
